<h2>Explore</h2>
<ul class="nav nav-pills nav-justified flex-column">
    <li class="nav-item">
      <a class="nav-link active" onclick="gotoLogin()" id="loginLink">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" onclick="gotoSignup()" id="signupLink">Sign Up</a>
    </li>
</ul>
