<!DOCTYPE html>
<html>
<head>
  <script src="./client-nav.js"></script>
  <% include ../partials/header.ejs %>
</head>


<body class="bg-dark">
  <header>
    <% include ../partials/head.ejs %>
  </header>
    <div class="my-primary text-center py-1">
      <div class="row mx-0">
        <div class="col-sm-3" id="left">
          <h2>Explore</h2>
          <% include ../partials/nav.ejs %>
        </div>
        <div class="col-sm-6 bg-secondary" id="main">
          <h2>Time to Cook!</h2>
          <% include ../partials/login.ejs %>          
        </div>
        <div class="col-sm-3" id="right">
          <h2>Lil Chef's News</h2>
          
        </div>
      </div>
    </div>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>

    <script>
      $("button#gettest").click(function() {
        $("div#recipelist").html("<h3>here are the recipies!</h3>");
      });

      $("button#getrecipies").click(function() {
        console.log("about to access database");
        var param = "test";
        //get data will return back a json object with a name and description for each recipe in the db
        $.get('/getData', function(data) {
          console.log("data: ", data)
          //clear the list before we populate it so we dont duplicate
          $("div#recipelist").html("");
          
          //print the recipe name and description for each item in the json list
          $.each(data, function(index) {
            $("div#recipelist").append('<li>' + this.recipe_name + '</li>');
            $("div#recipelist").append('<p>' + this.recipe_description + '<p>');
          });
        });
      });
    </script>
</body>
</html>
