<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="bg-dark">
  <header>
    <% include ../partials/head.ejs %>
  </header>

    <div class="container my-primary text-center py-1 my-3">
      <div class="row" id="left">
        <div class="col-sm-3">
          <h2>Left column</h2>
        </div>
        <div class="col-sm-6" id="main">
          <h2>Recipes:</h2>
          <ul>
          <div id="recipelist" class="text-left"></div>
          </ul>
          <button type="button" id="gettest">Get Recipies Test!</button>
          <button type="button" id="getrecipies">Get Recipies!</button>          
        </div>
        <div class="col-sm-3" id="right">
          <h2>Right column</h2>
        </div>
      </div>
    </div>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>

    <script>
      $("button#gettest").click(function() {
        $("div#recipelist").html("<h3>here are the recipies!</h3>");
      });

      $("button#getrecipies").click(function() {
        console.log("about to access database");
        var param = "test";
        //get data will return back a json object with a name and description for each recipe in the db
        $.get('/getData', function(data) {
          console.log("data: ", data)
          //clear the list before we populate it so we dont duplicate
          $("div#recipelist").html("");
          
          //print the recipe name and description for each item in the json list
          $.each(data, function(index) {
            $("div#recipelist").append('<li>' + this.recipe_name + '</li>');
            $("div#recipelist").append('<p>' + this.recipe_description + '<p>');
          });
        });
      });
    </script>
</body>
</html>
